.container-fluid {
  height: 100vh;
  width: 100%;
  /* margin: 0; */
  padding: 0;
}
.row {
  width: 100%;
  margin: 0;
}
.header {
  padding-top: 50px;
  background-color: #00adb5;
  height: 300px;
  padding-left: 30px;
}
.header h1 {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  color: floralwhite;
  font-weight: bolder;
}
.header2 {
  padding-top: 50px;
  padding-left: 10px;
}
