.carousel {
  width: 60%;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  justify-content: center;
  text-align: center;
}
.carouselInner {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
}
.carouselInner .left {
  flex: 5%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  display: grid;
  place-items: center;
  color: white;
  cursor: pointer;
}
.carouselInner .center {
  flex: 80%;
  height: 100%;
  display: grid;
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-align: justify;
}
.carouselInner .right {
  flex: 5%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  display: grid;
  place-items: center;
  color: white;
  cursor: pointer;
}

.carouselInner h1 {
  font-size: 5rem;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 9px;
  padding: 2px;
}
.carouselInner p {
  font-size: 2rem;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 9px;
  padding: 2px;
}
