.main-footer {
  display: flex;
  color: white;
  background-color: black;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 70px;
}
.col-md-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col-sm-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fooer-bottom {
  align-items: center;
}
.copyright {
  align-items: center;
  justify-content: center;
}
