*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    width: 100%;
    height: 100vh;
    background-image: url('https://unsplash.com/photos/mOHXMm77fX0/download?force=true');
    background-position: center;
    background-size: contain;
}

.text{
    color: white;
}

.profile-text{
}
