.main-div{
    position: relative;
    width: 100%;
    height: 100vh;
}

.box{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.box h1{
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
}

.input-box{
    position: relative;
}

.input-box input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
}

label{
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.527);
    transition: 0.5s;
}

.box input[type="submit"]{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
}

.input-box input:focus ~ label, .input-box input:valid ~ label{
    top: -20px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}

#log-in{
    cursor: pointer;
}